@model PizzaCategoryView

<div class="container">
    <form asp-controller="Pizza" asp-action="Update" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label>ID:</label>
            <input asp-for="Pizza.Id" type="text" class="form-control" readonly />
        </div>
        <div class="mb-3">
            <label>Titolo:</label>
            <input asp-for="Pizza.Nome" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Nome" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <label>Path Immagine:</label>
            <input asp-for="Pizza.Foto" type="text" class="form-control" />
            <span asp-validation-for="Pizza.Foto" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Descrizione:</label>
            <textarea asp-for="Pizza.Descrizione" rows="10" class="d-block w-100"></textarea>
            <span asp-validation-for="Pizza.Descrizione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Toppings:</label>
            <select asp-for="ToppingsSelectedFromMultipleSelect" asp-items="@Model.Toppings" multiple size="10" class="form-control mb-2 mr-sm-2 ml-sm-3 leftList">
            </select>
        </div>
        <div class="mb-3">
            <label>Prezzo:</label>
            <input asp-for="Pizza.Prezzo" rows="10" class="d-block w-100">
            <span asp-validation-for="Pizza.Prezzo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label>Categoria:</label>
            <select asp-for="Pizza.CategoryId" rows="10" class="d-block w-100">
                <option value=""></option>
                @foreach (Category category in Model.Categories)
                {
                    <option value="@category.CategoryId">@category.Titolo</option>
                }
            </select>
            <span asp-validation-for="Pizza.CategoryId" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Salva Modifiche</button>
    </form>
</div>
